label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: var(--primary-color);
    font-weight: 500;
  }

  button {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
  }
  
  button:hover {
    background-color: rgba(0, 0, 255, 0.1);
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

.info-container {
    border: 2px solid var(--primary-color);
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}


.button-container {
    text-align: right;
  }

.error-text {
    color: var(--error-color);
  }