:root {
  --primary-color: #2563eb;
  --error-color: red;
}

.app {
  text-align: center;
}
.app-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.child-container {
  flex-basis: 48%;
  padding: 20px;
  border-radius: 5px;
}

.field-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.field-container .field-child-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: .5em;
}

.field-container input {
  border: 2px solid var(--primary-color);
  height: 2em;
}
.field-container select {
  border: 2px solid var(--primary-color);
  height: 2.5em;
}

.bottom-right-text {
  position: fixed;
  bottom: 20px;
  right: 40px;
  font-size: 1.1em;
}

.bottom-right-text p {
  color: var(--primary-color);
  font-weight: 700;
}

.succeed-message {
  background-color: rgba(144, 238, 144, 0.58);
  padding: 10px;
  margin-top: 2rem;
  border-radius: 5px;
}
.error-message {
  background-color: rgba(255, 0, 0, 0.588);
  padding: 10px;
  margin-top: 2rem;
  border-radius: 5px;
}